<table width="30%" border="1"><tr><td>
<div>
	Hello {{name}}. You are {{person.name}}, of size {{person.size}} and wear {{person.style}}
<p>Number 1: <input type="number" ng-model="n1"></p>
<p>Number 2: <input type="number" ng-model="n2"></p>
<p>Sum : {{ n1 + n2 }}</p>
{{person.rabbit}}
<br/>
<button ng-click="doJiggy()">Multiply</button>
</div>
</td></tr></table>

<table width="30%" border="1"><tr><td>
<div >
	<label>Name</label><input ng-model="person.name"></p>
	<label>Size</label><input ng-model="person.size"></p>
</div>
</td></tr></table>
<div stagline></div>
<stagline></stagline>
<br/>
<a href="#/ping">Go to Page2</a>