<nav>
	<div>
		<div>
			<a href="#">
				<span style="color:#5bdb48">click</span>
				Grocery List
			</a>
		</div>
	</div>
</nav>

	<div>
		<div>
			<ul style="color:#000000">
				<li>
					<button>check</button>
					<span>Bread</span>
					<button>edit</button>
				</li>
				<li>
					<button>check</button>
					<span>Cheese</span>
					<button>edit</button>
				</li>
				<li>
					<button>check</button>
					<span>Milk</span>
					<button>edit</button>
				</li>
				<li>
					<button>check</button>
					<span>Apples</span>
					<button>edit</button>
				</li>
			</ul>
		</div>
	</div>
